{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<div class="press-release">
    <div class="row featurette h-100">
        <div class="col-lg-8 my-auto px-4">
            <h2 class="featurette-heading">{{ fields.title.content }} <span class="text-muted"></span></h2>
            <p class="lead">{{ fields.body.content }}</p>
        </div>
        {% if content.field_image|render is not empty %}        
        <div class="col-lg-4 my-auto px-3">
            <div class="card bg-dark text-white shadow rounded-0 border-0">
                {{ fields.field_image.content }}        
            </div>               
        </div>
        {% endif %}        
{#        {% if fields.field_image.content|length > 245 %}#}
        <div class="col-lg-4 my-auto px-3">
            <div class="card bg-dark text-white shadow rounded-0 border-0">
                {#{{ fields.field_image.content|length }}#}
{#            {% if content.field_image|render is not empty %}#}
                {{ fields.field_image.content }}        
{#            {% endif %}#}
    {#        <img src="http://128.32.202.134/classics/sites/default/files/2019-10/0516-0-600x878.jpg" class="card-img rounded-0" alt="..." style="max-height: 400px;">#}
            </div>               
        </div>          
{#        {% endif %}               #}
    </div>
</div>